Repository arevalu/nimbus-ui-kit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typescript

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "src/**/*.{js,ts,tsx}"
      run: npx eslint {files}
    typescript:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: setup action flow
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/storybook.yml
Due: none

chore: update h1 component
  lefthook.yml
  src/components/h1/h1.tsx
Due: lint

fix: update storybook workflow
  .github/workflows/storybook.yml
Due: none

fix: update storybook config workflow
  .github/workflows/storybook.yml
Due: none

Deploying to gh-pages from @ arevalu/nimbus-ui-kit@5a75e44ea4c0144d0bf87d82232247527e510d4e 🚀
  project.json
Due: none

chore: firebase ci workflow
  .firebaserc
  .github/workflows/storybook.yml
  .gitignore
  firebase.json
  package-lock.json
Due: none

chore: update storybook workflow
  .github/workflows/storybook.yml
Due: none

chore: add color palette
  src/theme/color-palette.stories.tsx
  src/theme/colors.ts
Due: lint, typescript

chore: add neutral colors
  .github/workflows/storybook.yml
  src/theme/color-palette.stories.tsx
  src/theme/colors.ts
Due: lint, typescript

chore: add storybook typeset
  .eslintrc.js
  .storybook/main.js
  .storybook/preview-head.html
  src/assets/fonts/Nunito-Black.ttf
  src/assets/fonts/Nunito-Bold.ttf
  src/assets/fonts/Nunito-ExtraBold.ttf
  src/assets/fonts/Nunito-ExtraLight.ttf
  src/assets/fonts/Nunito-Light.ttf
  src/assets/fonts/Nunito-Medium.ttf
  src/assets/fonts/Nunito-Regular.ttf
  src/assets/fonts/Nunito-SemiBold.ttf
  src/theme/colors/color-palette.stories.tsx
  src/theme/colors/colors.ts
  src/theme/colors/index.ts
  src/theme/fonts/fonts.stories.tsx
  src/theme/fonts/fonts.ts
  src/theme/fonts/index.ts
  src/theme/index.ts
Due: lint, typescript

chore: update colors docs
  src/theme/colors/color-palette.stories.tsx
  src/theme/colors/colors.ts
  src/theme/colors/stories/color-palette.stories.tsx
  src/theme/colors/stories/styles.tsx
  src/theme/colors/stories/types.ts
  storybook/helpers.ts
Due: lint, typescript

chore: remove typeset docs
  src/theme/fonts/fonts.stories.tsx
Due: lint

fix: storybook workflow
  .github/workflows/storybook.yml
Due: none

chore: remove h1 component
  src/components/h1/h1.stories.tsx
  src/components/h1/h1.tsx
  src/components/h1/index.ts
Due: lint, typescript

chore: hide panel in colors
  src/theme/colors/stories/color-palette.stories.tsx
Due: lint

chore: create informative label
  .storybook/preview.js
  src/components/index.ts
  src/components/label/index.ts
  src/components/label/informative-label/index.tsx
  src/components/label/informative-label/informative-label.stories.tsx
  src/components/label/informative-label/types.ts
Due: lint, typescript
